<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUSIC PLAYER 3</title>
  </head>
  <body>
    <h1>Home</h1>
    <br />
    <hr />
    <br />
    <a href="/mp3/playlist">Music Playlist</a>
    <br />
    <a href="/mp3/artist">Music Artist</a>
    <br />
    <a href="/mp3/albums">Music Albums</a>
    <br />
    <a href="/mp3/favorites">Music Favorites</a>
  </body>
</html>
